.email {
    background-color: #eff1f2;
    color: #000000;
    font-family: "EB Garamond", serif;
    width: 100%;
}

.email div {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.email h2 {
    font-size: 2.1875rem;
    font-weight: 400;
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 40%;
}
.input {
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    font-size: 1.125rem;
    letter-spacing: 0.075em;
    padding: 0.5rem 0 1rem;
}
.btn {
    color: #000000;
    position: absolute;
    border: none;
    right: -0;
    padding: 10px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 3.5rem;
    font-weight: 400;
    line-height: 1.6;
}
.footer_logo {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 2.1875rem;
    letter-spacing: 0.05em;
    line-height: 25px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    max-width: 300px;
}

.extras {
    font-family: "Kumbh Sans", serif;
    font-weight: 400;
    font-size: 0.875rem;
}
