.text {
    color: white;
    font-family: "Kumbh Sans", "Helvetica Neue", Arial, system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    max-width: 45rem;
    padding-left: 5rem;
}

.page-header__image {
    height: 87%;
    width: 100%;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.current_logo::before {
    content: url(../../public/arrow.svg);
    display: block;
    margin: 0 auto;
    padding: 2rem;
    max-width: 200px;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

@media (min-width: 1024px) {
    .current_logo::before {
        padding: 4rem;
        width: 180px;
        height: 180px;
    }
}