.text {
    color: white;
    font-family: "Kumbh Sans", "Helvetica Neue", Arial, system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    max-width: 45rem;
    padding-left: 5rem;
}

.page-header__image {
    height: 87%;
    width: 100%;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
